* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(215, 221, 226);
}
.container {
  display: flex;
  width: 100%;
  height: 20vh;
  padding-left: 3rem;
  margin-top: 2.8rem;
  column-gap: 5rem;
  text-transform: capitalize;
}
.container h3 {
  font-size: 2.5rem;
  background: -webkit-radial-gradient(
    rgb(46, 176, 185),
    rgb(32, 98, 212),
    rgb(32, 212, 77),
    rgb(160, 29, 212)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container input {
  border: none;
  outline: none;
  background: rgb(123, 178, 225);
  width: 12rem;
  height: 2rem;
  font-size: 1.3rem;
  padding-left: 0.4rem;
  margin-top: 1rem;
  color: azure;
  letter-spacing: 3px;
}

.btn {
  position: absolute;
  background: rgb(123, 178, 225);
  border: none;
  outline: none;
  width: 6rem;
  height: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.5rem;
  cursor: pointer;
}
.btn:hover {
  letter-spacing: 1px;
}
input.error {
  border: 2px solid red;
}
.colors {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  height: 70vh;
  align-self: center;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.2rem;
}
.percent-value {
  margin-top: 0.3rem;
  margin-left: 0.4rem;
  background: transparent;
}
.color-value {
  background: transparent;
  margin-left: 0.4rem;
}
.color-light {
  color: #fff;
}

@media screen and (max-width: 882px) {
  .colors {
    height: 140vh;
    grid-template-columns: repeat(3, 1fr);
  }
  .container {
    flex-direction: column;
    height: 30vh;
  }
  .btn {
    font-size: 1rem;
  }
}

@media screen and (max-width: 568px) {
  .colors {
    height: 180vh;
    grid-template-columns: repeat(2, 1fr);
  }
}
